<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        {{ partial "header.html" . }}
        <div role="main">
            {{ block "header" . -}}{{- end }}
            <div class="container">
                <div class="main">
                    {{ block "main" . -}}{{- end }}
                </div>
            </div>
            {{ block "footer" . -}}{{- end }}
        </div>
        {{ partial "footer.html" . }}
        <script src="/js/main.js"></script>
        {{ template "_internal/google_analytics_async.html" . }}
    </body>
</html>
