{{ define "main" }}
    <article class="post">
        <header>
            {{ partial "page-title" . }}
            <p class="subtitle">
                <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                    {{ .Date.Format "January 2, 2006" }}
                </time> · {{ .ReadingTime }} min read
            </p>
            {{ with .Params.tags }}
                {{ if ge (len .) 1 }}
                    <p style="margin-bottom: 1em;">
                        Tags:
                        {{ range . }}
                            <a href="{{ printf "tags/%s" (. | urlize) | absURL }}">
                                <span class="tag">
                                    {{ . }}
                                </span>
                            </a>
                        {{ end }}
                    </p>
                {{ end }}
            {{ end}}
        </header>
        <div class="content">
            {{ .Content }}
        </div>
        <footer>
            <p style="margin-bottom: 1em;">
                <a class="button is-twitter js-share-button" href="https://twitter.com/intent/tweet?text={{ .Title }}&url={{ .Permalink }}&via={{ .Site.Params.TwitterUsername }}" target="_blank">
                    <span class="icon">
                        <i class="fa fa-twitter"></i>
                    </span>
                    <span>Tweet</span>
                </a>
                <a class="button is-facebook js-share-button" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank">
                    <span class="icon">
                        <i class="fa fa-facebook"></i>
                    </span>
                    <span>Share</span>
                </a>
            </p>
        </footer>
    </article>
    {{ partial "disqus.html" . }}
    <p class="subtitle" style="margin-top: 2em;">Read More</p>
    {{ partial "latest-posts.html" . }}
{{ end }}
