<ul>
    {{ range where .Paginator.Pages "Section" "ne" "" }}
        <li itemid="{{ .URL }}" itemscope itemtype="https://schema.org/BlogPosting">
            <h2 class="title">
                <a href="{{ .URL }}" itemprop="headline">{{ .LinkTitle }}</a>
            </h2>
            <p class="subtitle" style="margin-bottom: 1.5em;">
                <time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">
                    {{ .Date.Format "January 2, 2006" }}
                </time> · {{ .ReadingTime }} min read
            </p>
        </li>
    {{ end }}
</ul>
